force-app/main/default/flows/Area_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Ckeck</name>
        <label>Check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Time_Zone_Record</targetReference>
            </connector>
            <label>Check Phone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forAREAcode</name>
        <dataType>String</dataType>
        <expression>IF(
    LEFT({!$Record.Phone}, 2) = &quot;+1&quot;, 
    MID({!$Record.Phone}, 3, 3), 
    IF(
        LEFT({!$Record.Phone}, 1) = &quot;1&quot;, 
        MID({!$Record.Phone}, 2, 3), 
        IF(
            LEFT({!$Record.Phone}, 1) = &quot;(&quot;, 
            MID({!$Record.Phone}, 2, 3), 
            LEFT({!$Record.Phone}, 3)
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Area Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Area Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Time_Zone_Record</name>
        <label>Get Time Zone Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Time_Zone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AreaCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFOrAreaCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AreaCodeTimeZone_c__c</object>
        <sortField>AreaCode__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Time_Zone</name>
        <label>Update Lead Time Zone</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Time_Zone_c__c</field>
            <value>
                <elementReference>Get_Time_Zone_Record.AreaCodeTimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ckeck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TimeZome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AreaCodeTimeZone_c__c</objectType>
    </variables>
    <variables>
        <name>varFOrAreaCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forAREAcode</elementReference>
        </value>
    </variables>
</Flow>
