force-app/main/default/flows/Auto_Submit_Approval_Submitted_to_UW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Auto-submits the Opportunity Approval Process when Stage changes to Submitted to UW. Fault path silently handles records already in approval.</description>
    <environments>Default</environments>
    <interviewLabel>Auto Submit Approval - Submitted to UW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Submit Approval - Submitted to UW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <filterFormula>AND(
    ISPICKVAL({!$Record.StageName}, &apos;Submitted to UW&apos;),
    ISCHANGED({!$Record.StageName})
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Log_Already_In_Approval</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Opportunity_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Auto-submitted for approval: Stage changed to Submitted to UW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Log_Already_In_Approval</name>
        <label>Log Already In Approval</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <status>Active</status>
</Flow>
