force-app/main/default/flows/Automatic_Lead_conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_lead</name>
        <label>Convert lead</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>autoconvertlead__ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>autoconvertlead__ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead_Ex_contact</name>
        <label>Convert Lead (Excontact)</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <actionName>autoconvertlead__ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_accounts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>get_contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>autoconvertlead__ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_withNewContact</name>
        <label>Convert with New Contact</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <actionName>autoconvertlead__ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_accounts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>autoconvertlead__ConvertLeadsInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Account</name>
        <label>Count Account</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CountOfAccount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Contact</name>
        <label>Count Contact</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CountOfContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountOfContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Create_with_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_opp</name>
        <label>Number of opp</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>NoOfOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListOpportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>809</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_Int_CSEP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSEP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_accounts</targetReference>
            </connector>
            <label>Check the Int = CSEP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_exists</name>
        <label>Check Account exists</label>
        <locationX>512</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opportunities</targetReference>
            </connector>
            <label>If Account 1</label>
        </rules>
        <rules>
            <name>If_no_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_lead</targetReference>
            </connector>
            <label>If no account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Create_with_contact</name>
        <label>Check &amp; Create with contact</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Convert_withNewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_contact_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_Ex_contact</targetReference>
            </connector>
            <label>If contact 1</label>
        </rules>
    </decisions>
    <description>Converts Lead to Acc, Opp and Contact</description>
    <environments>Default</environments>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company} &amp; &quot; - &quot; &amp; TEXT({!NoOfOpp})</expression>
    </formulas>
    <interviewLabel>Automatic Lead conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatic Lead conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_accounts</name>
        <label>Get accounts</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ListAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_contacts</name>
        <label>get contacts</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Contact</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ListContact</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunities</name>
        <label>Get opportunities</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_accounts</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ListOpportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>get_contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountOfAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfContact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ListOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NoOfOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
