force-app/main/default/flows/Case_Create_Legal_Cases_Per_Creditor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Legal_Cases</name>
        <label>Build Legal Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>New_Legal_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Legal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Communication</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Parent_Welcome_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Legal_Team_Record_Type_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Creditors_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Creditors.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Legal_Cases_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Legal_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Legal_Case.Service_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Creditors</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Legal_Team_Record_Type_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012Pe000001Ll09IAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Cases_To_Create</name>
        <label>Check If Cases To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Legal Cases To Create - Skip</defaultConnectorLabel>
        <rules>
            <name>Has_Cases_To_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Legal_Cases_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_All_Legal_Cases</targetReference>
            </connector>
            <label>Has Cases To Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Creditors_Exist</name>
        <label>Check If Creditors Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Creditors Found - Skip</defaultConnectorLabel>
        <rules>
            <name>Has_Creditors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Creditors_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Creditors</targetReference>
            </connector>
            <label>Has Creditors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Masterswitch</name>
        <label>Master Switch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Master_Switch_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Automation_Settings__c.Activate_Automations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creditors_List</targetReference>
            </connector>
            <label>Master Switch On</label>
        </rules>
    </decisions>
    <description>Creates Legal Team cases for each creditor when Ready for Legal checkbox is checked. Uses collection variables and bulk database operations for optimal performance. Contact system administrator for more details if any issues occur.</description>
    <environments>Default</environments>
    <formulas>
        <name>forDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Legal case for creditor: &quot; &amp; {!Loop_Through_Creditors.Name} &amp; CHR(10) &amp; 
&quot;Estimated Balance: $&quot; &amp; TEXT({!Loop_Through_Creditors.Amount__c}) &amp; CHR(10) &amp; 
&quot;Weekly Payment: $&quot; &amp; TEXT({!Loop_Through_Creditors.Weekly_Payment__c}) &amp; CHR(10) &amp; CHR(10) &amp;
&quot;This case was automatically created from Welcome Team case (Case #&quot; &amp; {!$Record.CaseNumber} &amp; &quot;) when marked Ready for Legal.&quot; &amp; CHR(10) &amp; CHR(10) &amp;
&quot;Created: &quot; &amp; TEXT({!$Flow.CurrentDateTime}) &amp; CHR(10) &amp; CHR(10) &amp;
&quot;Note: If there are any issues with this automated case creation, contact system administrator for more details.&quot;</expression>
    </formulas>
    <formulas>
        <name>forSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Legal - &quot; &amp; {!$Record.Opportunity__r.Name} &amp; &quot; - &quot; &amp; {!Loop_Through_Creditors.Name} &amp; &quot; ($&quot; &amp; TEXT({!Loop_Through_Creditors.Amount__c}) &amp; &quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Case - Create Legal Cases Per Creditor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Legal Cases Per Creditor</label>
    <loops>
        <name>Loop_Through_Creditors</name>
        <label>Loop Through Creditors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Creditors_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Legal_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ready_for_legal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Legal_Cases</name>
        <label>Create All Legal Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Legal_Cases_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Creditors_List</name>
        <label>Get Creditors List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Creditors_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CreditorOpportunity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Weekly_Payment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ready_for_legal</name>
        <label>Update ready for legal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Cases_To_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_for_Legal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Masterswitch</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Welcome_Team_Journey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documents Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ready_for_Legal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Legal_Cases_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>New_Legal_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
