force-app/main/default/flows/Clear_previous_NSF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow will clean NSF information from previous days.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Clear previous NSF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clear previous NSF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opps_To_Clear</name>
        <label>Get_Opps_To_Clear</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_BatchNull</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (4 OR 2)</filterLogic>
        <filters>
            <field>NSF_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NSF_Today_Batch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NSF_Today_Batch__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_BatchNull</name>
        <label>Clear_BatchNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_BatchOlder</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>NSF_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NSF_Today_Batch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NSF_Today_Batch__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NSF_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>NSF_Today_Batch__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_BatchOlder</name>
        <label>Clear_BatchOlder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NSF_Today_Batch__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>NSF_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NSF_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>NSF_Today_Batch__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opps_To_Clear</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-21</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
