force-app/main/default/flows/DCG_Pro_Debt_Relief_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Between_1000_2000</name>
        <choiceText>$1,000 - $2,000/day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1000_2000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_150k_500k</name>
        <choiceText>$150,000 - $500,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>150K_500K</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_240_500</name>
        <choiceText>$240 - $500/day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>240_500</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_25k_75k</name>
        <choiceText>$25,000 - $75,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25K_75K</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_500_1000</name>
        <choiceText>$500 - $1,000/day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>500_1000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Between_75k_150k</name>
        <choiceText>$75,000 - $150,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>75K_150K</stringValue>
        </value>
    </choices>
    <choices>
        <name>BrowsingChoice</name>
        <choiceText>No, I&apos;m just browsing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BROWSING</stringValue>
        </value>
    </choices>
    <choices>
        <name>HelpMeChoice</name>
        <choiceText>Yes, help me with debt relief</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HELP_ME</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Lenders</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NONE</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Three_Lenders</name>
        <choiceText>1-3 lenders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1_3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Over_2000</name>
        <choiceText>Over $2,000/day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OVER_2000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Over_500k</name>
        <choiceText>$500,000+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OVER_500K</stringValue>
        </value>
    </choices>
    <choices>
        <name>Six_Nine_Lenders</name>
        <choiceText>6-9 lenders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6_9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ten_Plus_Lenders</name>
        <choiceText>10+ lenders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10_PLUS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Three_Six_Lenders</name>
        <choiceText>3-6 lenders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3_6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_240</name>
        <choiceText>Under $240/day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UNDER_240</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_25k</name>
        <choiceText>Under $25,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UNDER_25K</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Qualification_Decision</name>
        <label>Check Qualification</label>
        <locationX>400</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Contact_Info_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Qualified</defaultConnectorLabel>
        <rules>
            <name>Not_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalDebtField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNDER_25K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Qualified_Screen</targetReference>
            </connector>
            <label>Not Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Welcome_Decision</name>
        <label>Route Based on Choice</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Browsing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Needs_Help</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WelcomeChoiceField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HELP_ME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MCA_Assessment_Screen</targetReference>
            </connector>
            <label>Needs Help</label>
        </rules>
    </decisions>
    <interviewLabel>DCG Pro Debt Relief Qualification</interviewLabel>
    <label>DCG Pro Debt Relief Qualification</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead_Record</name>
        <label>Create Lead</label>
        <locationX>400</locationX>
        <locationY>900</locationY>
        <assignRecordIdToReference>CreatedLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>MCA Lenders: {!MCALendersField}, Daily Payments: {!DailyPaymentField}, Total Debt: {!TotalDebtField}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>NameField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Web - Agentforce Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <screens>
        <name>Browsing_Screen</name>
        <label>Thanks for Browsing</label>
        <locationX>100</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BrowsingText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No problem! Feel free to browse our resources.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If you change your mind, I&apos;m here 24/7 to help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Info_Screen</name>
        <label>Contact Information</label>
        <locationX>400</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lead_Record</targetReference>
        </connector>
        <fields>
            <name>QualificationText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Good news, you meet the requirements for our MCA debt restructuring program!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I&apos;ll send you more details about our program. This can really help your business.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please provide your contact information:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NameField</name>
            <dataType>String</dataType>
            <fieldText>Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailField</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhoneField</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Daily_Payment_Screen</name>
        <label>Daily Payment Assessment</label>
        <locationX>400</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Total_Debt_Screen</targetReference>
        </connector>
        <fields>
            <name>PaymentText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Thank you for that information.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Now, let&apos;s understand your current payment burden.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DailyPaymentField</name>
            <choiceReferences>Under_240</choiceReferences>
            <choiceReferences>Between_240_500</choiceReferences>
            <choiceReferences>Between_500_1000</choiceReferences>
            <choiceReferences>Between_1000_2000</choiceReferences>
            <choiceReferences>Over_2000</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How much are your total daily MCA payments?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MCA_Assessment_Screen</name>
        <label>MCA Lenders Assessment</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Daily_Payment_Screen</targetReference>
        </connector>
        <fields>
            <name>AssessmentText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;I&apos;m happy to help! Let me ask you a few questions about your debt.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;This will help us determine the best solution for your situation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MCALendersField</name>
            <choiceReferences>None_Lenders</choiceReferences>
            <choiceReferences>One_Three_Lenders</choiceReferences>
            <choiceReferences>Three_Six_Lenders</choiceReferences>
            <choiceReferences>Six_Nine_Lenders</choiceReferences>
            <choiceReferences>Ten_Plus_Lenders</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many MCA lenders do you currently have?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Qualified_Screen</name>
        <label>Not Qualified</label>
        <locationX>600</locationX>
        <locationY>750</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotQualifiedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Unfortunately, your total debt amount may not qualify for our debt restructuring program.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our programs are designed for businesses with MCA debt of $25,000 or more.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;However, we recommend:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Speaking with your current MCA providers about payment adjustments&lt;/li&gt;&lt;li&gt;Consulting with a financial advisor&lt;/li&gt;&lt;li&gt;Exploring traditional business financing options&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If your situation changes or you&apos;d like to discuss other options, please feel free to contact us directly at 1-800-DCG-HELP.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You</label>
        <locationX>400</locationX>
        <locationY>1000</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;We&apos;ve forwarded your details to our debt restructuring specialist.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our program has helped thousands of businesses regain control of their cash flow and successfully restructure their terms. We&apos;re confident we can assist you as well!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reference Number: {!CreatedLeadId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Total_Debt_Screen</name>
        <label>Total Debt Assessment</label>
        <locationX>400</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Qualification_Decision</targetReference>
        </connector>
        <fields>
            <name>TotalDebtText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;One more important question.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;This helps us determine which debt relief program would work best for you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TotalDebtField</name>
            <choiceReferences>Under_25k</choiceReferences>
            <choiceReferences>Between_25k_75k</choiceReferences>
            <choiceReferences>Between_75k_150k</choiceReferences>
            <choiceReferences>Between_150k_500k</choiceReferences>
            <choiceReferences>Over_500k</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your total MCA debt amount?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome to DCG Pro</label>
        <locationX>200</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Welcome_Decision</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Welcome to DCG Pro Debt Relief Solutions!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;We help businesses overcome MCA debt challenges.&lt;/p&gt;&lt;p&gt;How can I help you today?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WelcomeChoiceField</name>
            <choiceReferences>HelpMeChoice</choiceReferences>
            <choiceReferences>BrowsingChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreatedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
