force-app/main/default/flows/E_Data_Lead_Create_SMS_Twilio_Frank.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_to_owner</name>
        <label>Copy 1 of Send to owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <stringValue>7282200055</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>forMessageFBQuiz</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>9173349485</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>if_phone_not_empty</name>
        <label>if phone not empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_to_owner</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <description>To Frank</description>
    <environments>Default</environments>
    <formulas>
        <name>forMessageFBQuiz</name>
        <dataType>String</dataType>
        <expression>&quot;New &quot; + 
{!$Record.Main_Source__c} + 
&quot; lead is created :- Link to salesforce  &quot; + 
&quot; https://dmpbalance.lightning.force.com/lightning/r/Lead/&quot; + 
{!$Record.Id} + 
&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>E-Data Lead Create SMS Twilio Frank {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-Data Lead Create SMS Twilio Frank</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_phone_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Source__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EData</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varLeePhonePersonal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5.615697673E9</numberValue>
        </value>
    </variables>
</Flow>
