force-app/main/default/flows/EDD_RR_Round_Robin_NEW_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Counter_Exists</name>
        <label>Check Counter Exists</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create Counter</defaultConnectorLabel>
        <rules>
            <name>Counter_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Counter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Records</targetReference>
            </connector>
            <label>Yes - Counter Exists</label>
        </rules>
    </decisions>
    <description>Simplified automated round-robin flow for EDD Cherry leads using MOD function with counter</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentCounterValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!var_Counter.Value__c}), 0, {!var_Counter.Value__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NextCounterValue</name>
        <dataType>Number</dataType>
        <expression>{!CurrentCounterValue} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <expression>{!Get_EddUsers[{!SelectedUserIndex}].EDD_User__c}</expression>
    </formulas>
    <formulas>
        <name>SelectedUserIndex</name>
        <dataType>Number</dataType>
        <expression>MOD({!CurrentCounterValue}, {!UserCount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UserCount</name>
        <dataType>Number</dataType>
        <expression>SIZE({!Get_EddUsers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>EDD RR Round Robin NEW Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDD RR Round Robin NEW Updated</label>
    <loops>
        <name>Loop_Through_Records</name>
        <label>Loop Through Records</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>CurrentRecord</assignNextValueToReference>
        <collectionReference>$Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Lead_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Counter</name>
        <label>Create Counter</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Counter_After_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>RR EDD JJ Legal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Counter__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Counter</name>
        <label>Get Counter</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Counter_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EDD JJ Legal</stringValue>
            </value>
        </filters>
        <object>Counter__c</object>
        <outputReference>var_Counter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Counter_After_Create</name>
        <label>Get Counter After Create</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EDD JJ Legal</stringValue>
            </value>
        </filters>
        <object>Counter__c</object>
        <outputReference>var_Counter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_EddUsers</name>
        <label>Get EddUsers</label>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EDD_Round_Robin__c</object>
        <outputReference>var_EddUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EDD_User__c</queriedFields>
        <queriedFields>null__NotFound</queriedFields>
        <queriedFields>null__NotFound</queriedFields>
        <sortField>null__NotFound</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Counter.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>NextCounterValue</elementReference>
            </value>
        </inputAssignments>
        <object>Counter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EddUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Assignement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZAP Everyday</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_Counter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Counter__c</objectType>
    </variables>
    <variables>
        <name>var_EddUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EDD_Round_Robin__c</objectType>
    </variables>
</Flow>
