force-app/main/default/flows/Increment_NSF_Counter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>NotAlreadyLogged</name>
        <label>NotAlreadyLogged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>DoNothing</defaultConnectorLabel>
        <rules>
            <name>NewNSFDate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NSF_Last_Logged_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NSF_Last_Logged_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NSF_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Counter</targetReference>
            </connector>
            <label>NewNSFDate</label>
        </rules>
    </decisions>
    <description>Each time NSF_Date__c changes, increments NSF_Count__c and updates NSF_Last_Logged_Date__c. Ensures NSF events are counted once per unique date, preventing duplicates.</description>
    <environments>Default</environments>
    <formulas>
        <name>NSFCountUpdate</name>
        <dataType>Number</dataType>
        <expression>IF(
  ISBLANK({!$Record.NSF_Count__c}),
  1,
  {!$Record.NSF_Count__c} + 1
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Increment NSF Counter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Increment NSF Counter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_Counter</name>
        <label>Update Opportunity Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NSF_Count__c</field>
            <value>
                <elementReference>NSFCountUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NSF_Last_Logged_Date__c</field>
            <value>
                <elementReference>$Record.NSF_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NotAlreadyLogged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lost__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>NSF_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NSF_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
