force-app/main/default/flows/Lead_Create_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>conAnthonyUserID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001ON1JQAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>conRolandUserID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001oacPQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>conToniUserID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001OMy5QAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Condition_fo_Update</name>
        <label>Condition fo Update</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Predeal_status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT INTERESTED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT INTERESTED - (HAS DEBT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT INTERESTED - (SEEKING FUNDING)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NQ - BALANCE / PAYMENTS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NQ - AFFORDABILITY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INVALID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENROLLED WITH COMPETITOR - NOT SETTLED OUT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>status_to_unqualify</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Predeal status</label>
        </rules>
    </decisions>
    <decisions>
        <name>MainSwitch</name>
        <label>Main Switch</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MainSwitchOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Automation_Settings__c.Activate_Automations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Email</targetReference>
            </connector>
            <label>Main Switch On</label>
        </rules>
    </decisions>
    <description>To Update Email for opp. Legal Leads.</description>
    <environments>Default</environments>
    <formulas>
        <name>FoModNumber</name>
        <dataType>Number</dataType>
        <expression>MOD(VALUE({!$Record.Number__c}), 2)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdatedDateRep</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Lead Create Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Create Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>status_to_unqualify</name>
        <label>status to unqualify</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Email</name>
        <label>Update Opp Email</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Condition_fo_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailOpp__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Backup__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office_Ref__c</field>
            <value>
                <elementReference>$Record.Sales_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_date_ref__c</field>
            <value>
                <elementReference>UpdatedDateRep</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MainSwitch</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pre_Deal_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varModValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>FoModNumber</elementReference>
        </value>
    </variables>
</Flow>
