force-app/main/default/flows/LeadEmailCreateAfter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Reps</name>
        <label>Email to Reps</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Lead.FBtoReps</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.FBtoReps</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_Action</name>
        <label>Send Custom Notification Action</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>VarRecepientsID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>🎯💥 Marketing Lead Just Landed! 🚀📞</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_customer</name>
        <label>Send Email to customer</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Lead.EmailAlertCustomerFacebook</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_to_Reps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.EmailAlertCustomerFacebook</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Required_ID</name>
        <label>Set Required ID</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>VarRecepientsID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_con</name>
        <label>Check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lead_Source_Web_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP Marketting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_customer</targetReference>
            </connector>
            <label>lead Source Web Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forBody</name>
        <dataType>String</dataType>
        <expression>&quot;📢 New ZAP Lead: &quot; &amp; {!$Record.FirstName} &amp; &quot;. Call ☎️ &quot; &amp; {!$Record.Phone} &amp; &quot; immediately!&quot;</expression>
    </formulas>
    <formulas>
        <name>forEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} + (30.0 / 1440)</expression>
    </formulas>
    <formulas>
        <name>forSubjectTask</name>
        <dataType>String</dataType>
        <expression>&quot;📢 &quot; &amp; {!$Record.Phone} &amp; &quot; 📢 New Lead 🚨 From Online Form&quot;</expression>
    </formulas>
    <interviewLabel>LeadEmailCreateAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadEmailCreateAfter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task</name>
        <label>Create task</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>CreateEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateEvent</name>
        <label>CreateEvent</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Required_ID</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_con</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forBody</elementReference>
        </value>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forEndDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarRecepientsID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubjectTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forSubjectTask</elementReference>
        </value>
    </variables>
</Flow>
