force-app/main/default/flows/Lead_reassignment_after_2_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Initialize_Loop_Index</name>
        <label>Initialize Loop Index</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LoopIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Loop_Index_Matches_Random_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_User</name>
        <label>Set Selected User</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>SelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Loop_Index_Matches_Random_Index</name>
        <label>Check If Loop Index Matches Random Index</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RandomIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_User</targetReference>
            </connector>
            <label>Match found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>In48hours</name>
        <dataType>Date</dataType>
        <expression>NOW() - (48/24)</expression>
    </formulas>
    <formulas>
        <name>RandomIndex</name>
        <dataType>Number</dataType>
        <expression>FLOOR(Rand() * LENGTH({!EligibleUsers}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead reassignment after 2 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead reassignment after 2 days</label>
    <loops>
        <name>Loop_Through_Users</name>
        <label>Loop Through Users</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>EligibleUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_Loop_Index</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Lead_to_Random_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>EligibleUsers</name>
        <label>EligibleUsers</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Records</name>
        <label>Get Lead Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EligibleUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>In48hours</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lead_to_Random_User</name>
        <label>Assign Lead to Random User</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-18</startDate>
            <startTime>06:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>ExitLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoopIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
