force-app/main/default/flows/Lead_Share_F_C_Ch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Fronter_Closer_is_not_empty</name>
        <label>If Fronter/closer is not empty</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_fronter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fronter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fronter__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fronter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Lead_with_Fronter</targetReference>
            </connector>
            <label>Check fronter</label>
        </rules>
        <rules>
            <name>Check_Closer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Lead_with_Closer</targetReference>
            </connector>
            <label>Check Closer</label>
        </rules>
        <rules>
            <name>Check_Chaser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Chaser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Chaser__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Chaser__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Lead_with_Chaser</targetReference>
            </connector>
            <label>Check Chaser</label>
        </rules>
        <rules>
            <name>Check_Closer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Closer_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closer_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closer_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Lead_with_Closer2</targetReference>
            </connector>
            <label>Check Closer2</label>
        </rules>
    </decisions>
    <decisions>
        <name>NOFronter</name>
        <label>NO fronter?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_fronter_chaser_closer_chase</name>
            <conditionLogic>(1 OR 7) AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Fronter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Fronter__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Fronter__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Fronter__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Chaser__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Fronter__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Closer__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Fronter__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Fronter__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Closer_2__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fronter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_lead_share</targetReference>
            </connector>
            <label>No fronter/chaser/closer/chase</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConnectedSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} &amp; &quot; Connected, please proceed with the formalities&quot;</expression>
    </formulas>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>{!$Record.Phone} &amp; &quot; Next follow up Required&quot;</expression>
    </formulas>
    <formulas>
        <name>DNCsubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} &amp; &quot; Do not call&quot;</expression>
    </formulas>
    <formulas>
        <name>FollowupdateEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Next_Follow_up_Date__c} + (15 / 1440)</expression>
    </formulas>
    <formulas>
        <name>NeedCallBack</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} &amp; &quot; needs call back&quot;</expression>
    </formulas>
    <formulas>
        <name>NextFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>Now() +1</expression>
    </formulas>
    <formulas>
        <name>Nextfollowupdaterequired</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} &amp; &quot; Call back required&quot;</expression>
    </formulas>
    <formulas>
        <name>NotAvailableSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} &amp; &quot; Not available&quot;</expression>
    </formulas>
    <formulas>
        <name>NotInterestedSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName} &amp; &quot; Not Interested&quot;</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>Date</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>RemindBefore5min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Next_Follow_up_Date__c} - (5 / 1440)</expression>
    </formulas>
    <interviewLabel>Lead Share F/C/Ch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Share F/C/Ch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Lead_with_Chaser</name>
        <label>Share Lead with Chaser</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Chaser__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_Lead_with_Closer</name>
        <label>Share Lead with Closer</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Closer__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_Lead_with_Closer2</name>
        <label>Share Lead with Closer2</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Closer_2__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Share_Lead_with_Fronter</name>
        <label>Share Lead with Fronter</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>NOFronter</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Fronter__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_lead_share</name>
        <label>Delete lead share</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Fronter__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>LeadShare</object>
    </recordDeletes>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Fronter_Closer_is_not_empty</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NotesTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Created From Quick notes&apos;</stringValue>
        </value>
    </variables>
</Flow>
