force-app/main/default/flows/Lead_Reassignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Round_Robin_Assignment</name>
        <label>Round Robin Assignment</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <actionName>BulkRoundRobinAssignment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>varLeadIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerIds</name>
            <value>
                <elementReference>varOwnerIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkRoundRobinAssignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Lead_ID_to_Collection</name>
        <label>Add Lead ID to Collection</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varLeadIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_ID_to_Collection</name>
        <label>Add User ID to Collection</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_EDD_Users.EDD_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_EDD_Users</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conGregID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001OMWfQAO</stringValue>
        </value>
    </constants>
    <constants>
        <name>conMuhamm</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000ERodNIAT</stringValue>
        </value>
    </constants>
    <constants>
        <name>conZakary</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001mIJqQAM</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Data_Found</name>
        <label>Check if Data Found</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>No Data</defaultConnectorLabel>
        <rules>
            <name>Data_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLeadIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Round_Robin_Assignment</targetReference>
            </connector>
            <label>Data Found</label>
        </rules>
    </decisions>
    <description>Round-robin lead assignment using EDD Round Robin users. Runs every 2 minutes via Apex scheduler.</description>
    <environments>Default</environments>
    <interviewLabel>Lead Reassignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Reassignment Flow</label>
    <loops>
        <name>Loop_Through_EDD_Users</name>
        <label>Loop Through EDD Users</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_EDD_Round_Robin_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Leads_to_Reassign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Leads</name>
        <label>Loop Through Leads</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Leads_to_Reassign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lead_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Data_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EDD_Round_Robin_Users</name>
        <label>Get EDD Round Robin Users</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_EDD_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cherry_Box__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reassign 2 Min</stringValue>
            </value>
        </filters>
        <filters>
            <field>Add_in_Roundrobin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EDD_Round_Robin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads_to_Reassign</name>
        <label>Get Leads to Reassign</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pre_Deal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEW LEAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEDDsalesofficename</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>conGregID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>conZakary</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>conMuhamm</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EDD_Round_Robin_Users</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varEDDsalesofficename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Everyday Debt</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
