force-app/main/default/flows/Lead_Round_Robin_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Counter_Exists</name>
        <label>Check Counter Exists</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Counter</defaultConnectorLabel>
        <rules>
            <name>Counter_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Leads</targetReference>
            </connector>
            <label>Counter Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Users_Available</name>
        <label>Check Users Available</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Users - Fallback</defaultConnectorLabel>
        <rules>
            <name>Users_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Counter</targetReference>
            </connector>
            <label>Users Available</label>
        </rules>
    </decisions>
    <description>Production-ready round-robin lead assignment using EDD_Round_Robin__c custom object</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentIndex</name>
        <dataType>Number</dataType>
        <expression>IF(
            ISBLANK({!CounterRecord.Current_Index__c}),
            0,
            IF(
                {!CounterRecord.Current_Index__c} &gt;= {!UserCount},
                0,
                {!CounterRecord.Current_Index__c}
            )
        )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NextIndex</name>
        <dataType>Number</dataType>
        <expression>IF(
            {!CurrentIndex} + 1 &gt;= {!UserCount},
            0,
            {!CurrentIndex} + 1
        )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <expression>{!ActiveUsers[{!CurrentIndex}].EDD_User__c}</expression>
    </formulas>
    <formulas>
        <name>UserCount</name>
        <dataType>Number</dataType>
        <expression>SIZE({!ActiveUsers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead Round Robin Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Round Robin Assignment</label>
    <loops>
        <name>Process_Leads</name>
        <label>Process Leads</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNextValueToReference>CurrentLead</assignNextValueToReference>
        <collectionReference>$Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Lead_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Counter</name>
        <label>Create Counter</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Counter_After_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Index__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name__c</field>
            <value>
                <stringValue>EDD_Lead_Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>EDD Lead Assignment Counter</stringValue>
            </value>
        </inputAssignments>
        <object>RR_Counter__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Round_Robin_Users</name>
        <label>Get Active Round Robin Users</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Users_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_in_Roundrobin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EDD_Round_Robin__c</object>
        <outputReference>ActiveUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EDD_User__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Counter</name>
        <label>Get Counter</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Counter_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDD_Lead_Assignment</stringValue>
            </value>
        </filters>
        <object>RR_Counter__c</object>
        <outputReference>CounterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Index__c</queriedFields>
        <queriedFields>Group_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Counter_After_Create</name>
        <label>Get Counter After Create</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDD_Lead_Assignment</stringValue>
            </value>
        </filters>
        <object>RR_Counter__c</object>
        <outputReference>CounterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Index__c</queriedFields>
        <queriedFields>Group_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Lead_Owner</name>
        <label>Assign Lead Owner</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Process_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Round_Robin_Assignment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CounterRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Index__c</field>
            <value>
                <elementReference>NextIndex</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Counter__c</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Round_Robin_Users</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>ActiveUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EDD_Round_Robin__c</objectType>
    </variables>
    <variables>
        <name>CounterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RR_Counter__c</objectType>
    </variables>
    <variables>
        <name>CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
