force-app/main/default/flows/Legal_Department_new_assign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>conAnthonyUserID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001ON1JQAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>conRolandUserID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001oacPQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>conToniUserID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001OMy5QAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Condition_fo_Update</name>
        <label>Condition fo Update</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Predeal_status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT INTERESTED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT INTERESTED - (HAS DEBT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT INTERESTED - (SEEKING FUNDING)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NQ - BALANCE / PAYMENTS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NQ - AFFORDABILITY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INVALID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENROLLED WITH COMPETITOR - NOT SETTLED OUT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Deal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>status_to_unqualify</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Predeal status</label>
        </rules>
        <rules>
            <name>Owner_is_Zak</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005fK000001mIJqQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_PreDeal_LSEDD</targetReference>
            </connector>
            <label>Owner is Zak</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_fronter_Null</name>
        <label>If fronter Null</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_fronter_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fronter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_fronter_1</targetReference>
            </connector>
            <label>If fronter is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Pre_deal_is_empty</name>
        <label>If Pre deal is empty</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_fronter_Null</targetReference>
            </connector>
            <label>Outcome 1 of Decision 3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FoModNumber</name>
        <dataType>Number</dataType>
        <expression>MOD(VALUE({!$Record.Number__c}), 2)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdatedDateRep</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Legal Department new assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Department new assign RR round</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sharing_Record</name>
        <label>Create Sharing Record</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>LeadAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>conRolandUserID</elementReference>
            </value>
        </inputAssignments>
        <object>LeadShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Copy_1_of_Update_PreDeal_LSEDD</name>
        <label>Copy 1 of Update PreDeal &amp; LSEDD</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>If_Pre_deal_is_empty</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_EDD__c</field>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_fronter_1</name>
        <label>Copy 2 of Update fronter 1</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_Sharing_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Fronter__c</field>
            <value>
                <elementReference>conRolandUserID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>status_to_unqualify</name>
        <label>status to unqualify</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Email</name>
        <label>Update Opp Email</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Condition_fo_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>EmailOpp__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Backup__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Office_Ref__c</field>
            <value>
                <elementReference>$Record.Sales_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_date_ref__c</field>
            <value>
                <elementReference>UpdatedDateRep</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opp_Email</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varModValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>FoModNumber</elementReference>
        </value>
    </variables>
</Flow>
