force-app/main/default/flows/Legal_Leads_by_ZAK_To_convoso_EDD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_2_of_Send_to_Legal_List_ZAK</name>
        <label>Copy 2 of Send to Legal List ZAK</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>ConvosoFlowIntegration</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>address1</name>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>first_name</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>last_name</name>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>list_id</name>
            <value>
                <stringValue>8511</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notes</name>
            <value>
                <elementReference>varNotesLeadSource</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvosoFlowIntegration</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_to_Legal_List_ZAK</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forNotesLeadSource</name>
        <dataType>String</dataType>
        <expression>&quot;Business Name: &quot; &amp; {!$Record.Company} &amp; 
&quot;, Lawsuit Occurred Date: &quot; &amp; TEXT({!$Record.Law_suite_occured__c}) &amp; 
&quot;, Lender Name: &quot; &amp; {!$Record.Lender_Name__c} &amp; 
&quot;, Summons Amount: &quot; &amp; TEXT({!$Record.Balance__c})</expression>
    </formulas>
    <interviewLabel>Legal Leads by ZAK To convoso EDD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Legal Leads by ZAK To convoso EDD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005fK000001mIJq</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_for_1_hr</name>
            <connector>
                <targetReference>Decision_2</targetReference>
            </connector>
            <label>Scheduled for 1 hr</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNotesLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forNotesLeadSource</elementReference>
        </value>
    </variables>
</Flow>
