force-app/main/default/flows/New_Round_Robin_QRMCA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_to_owner</name>
        <label>Send SMS to owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <stringValue>7282200055</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>forMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.Owner:User.Phone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Duplicate_Exists</name>
        <label>Check_If_Duplicate_Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recent_Duplicate_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IntAssignment</targetReference>
            </connector>
            <label>Duplicate not Found</label>
        </rules>
        <rules>
            <name>If_Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recent_Duplicate_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_13</targetReference>
            </connector>
            <label>If Duplicate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Check owner mobile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_to_owner</targetReference>
            </connector>
            <label>If not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>IntAssignment</name>
        <label>Check Int assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Integration_assignment</name>
            <conditionLogic>1 OR 2 OR 3 OR 4  OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR (5 AND 15)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP RR Cherry QRMCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP RR Viper QRMCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP WOD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP RTC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Main_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cherryLeads QRMCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cherrySms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cherry_Box__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One Oak</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cherry_Box__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>c drop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP Quiz QRMCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP Marketting QRMCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP Quiz DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP DCG Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP Marketting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RR EData QRMCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cherry_Box__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QRMCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_QRMCA_RR</targetReference>
            </connector>
            <label>Check Integration assignment</label>
        </rules>
        <rules>
            <name>EDATA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RR EData QRMCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cherry_Box__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_QRMCA_RR_EDATA</targetReference>
            </connector>
            <label>EDATA</label>
        </rules>
        <rules>
            <name>Everyday_Debt_everyDayDebt_30Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP Everyday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_EDD_ZAP_Everyday</targetReference>
            </connector>
            <label>Everyday Debt everyDayDebt_30Days</label>
        </rules>
        <rules>
            <name>Everydaydebt_12</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP Everyday Main</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cherrySms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cherry_Box__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Everyday Debt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_EDD_ZAP_Everyday2</targetReference>
            </connector>
            <label>Everydaydebt 12</label>
        </rules>
        <rules>
            <name>Group_A_Ian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QRDC A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_QRMCA_GroupA</targetReference>
            </connector>
            <label>Group A Ian</label>
        </rules>
        <rules>
            <name>Group_B_Rog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QRDC B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_QRMCA_GroupB</targetReference>
            </connector>
            <label>Group B Rog</label>
        </rules>
        <rules>
            <name>Zak_leads_Re_Blast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zak Legal Re Blast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_EDD_Zak_Re_blast</targetReference>
            </connector>
            <label>Zak leads Re Blast</label>
        </rules>
    </decisions>
    <decisions>
        <name>Master_Switch</name>
        <label>Master Switch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Master_Switch_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Automation_Settings__c.Activate_Automations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recent_Duplicate_Leads</targetReference>
            </connector>
            <label>Master Switch On</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forMessage</name>
        <dataType>String</dataType>
        <expression>&quot;New &quot; + 
{!$Record.Main_Source__c} + 
&quot; lead is created :- Link to salesforce  &quot; + 
&quot; https://dmpbalance.lightning.force.com/lightning/r/Lead/&quot; + 
{!$Record.Id} + 
&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_FourHoursAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-0.16667</expression>
    </formulas>
    <formulas>
        <name>forSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Phone} &amp; &quot; New Lead From &quot; &amp; {!$Record.Main_Source__c} &amp; &quot; is created&quot;</expression>
    </formulas>
    <interviewLabel>New Round Robin QRMCA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Round Robin RR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Recent_Duplicate_Leads</name>
        <label>Get_Recent_Duplicate_Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Duplicate_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Formula_FourHoursAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_from_EDD_Zak_Re_blast</name>
        <label>Get Records from EDD Zak Re blast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Zak_legal_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_in_Roundrobin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cherry_Box__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>everyDayDebt12</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EDD_Round_Robin__c</object>
        <sortField>Last_Assignment_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_from_EDD_ZAP_Everyday</name>
        <label>Get Records from EDD ZAP Everyday</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner2221</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_in_Roundrobin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cherry_Box__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>everyDayDebt_30Days</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EDD_Round_Robin__c</object>
        <sortField>Last_Assignment_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_from_EDD_ZAP_Everyday2</name>
        <label>Get Records from EDD ZAP Everyday</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_in_Roundrobin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cherry_Box__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>everyDayDebt12</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EDD_Round_Robin__c</object>
        <sortField>Last_Assignment_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_from_QRMCA_GroupA</name>
        <label>Get Records from QRMCA GroupA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_OwnerA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group A (Ian)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Add_In_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QRMCA_Round_Robin__c</object>
        <sortField>Last_assigned_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_from_QRMCA_GroupB</name>
        <label>Get Records from QRMCA GroupB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_OwnerB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group B (Roger)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Add_In_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QRMCA_Round_Robin__c</object>
        <sortField>Last_assigned_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_from_QRMCA_RR</name>
        <label>Get Records from QRMCA RR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_In_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QRMCA_Round_Robin__c</object>
        <sortField>Last_assigned_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_from_QRMCA_RR_EDATA</name>
        <label>Get Records from QRMCA RR EDATA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_In_Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edata</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QRMCA_Round_Robin__c</object>
        <sortField>Last_assigned_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Zak_legal_records</name>
        <label>Get the Zak legal records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Update_Lead_Owner</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>zakID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update</name>
        <label>Update Last Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_QRMCA_GroupA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_assigned_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>QRMCA_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Last_AssignmentB</name>
        <label>Update Last Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_QRMCA_GroupB.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_assigned_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>QRMCA_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_last_assigned_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>Get_the_Zak_legal_records.Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Get_the_Zak_legal_records.County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_the_Zak_legal_records.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Total_Amount__c</field>
            <value>
                <elementReference>Get_the_Zak_legal_records.Estimated_Total_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_the_Zak_legal_records.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lawyer__c</field>
            <value>
                <elementReference>Get_the_Zak_legal_records.Lawyer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lender_Name__c</field>
            <value>
                <elementReference>Get_the_Zak_legal_records.Lender_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_from_EDD_Zak_Re_blast.EDD_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update2</name>
        <label>Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_EDD_ZAP_Everyday2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assignment_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EDD_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_last_assigned_Date</name>
        <label>update last assigned Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_EDD_Zak_Re_blast.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assignment_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EDD_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_from_QRMCA_RR.USER__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner1</name>
        <label>Update Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Records_22</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_from_QRMCA_RR_EDATA.USER__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner2221</name>
        <label>Update Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateEDDAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_from_EDD_ZAP_Everyday.EDD_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner_3</name>
        <label>Update Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update2</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_from_EDD_ZAP_Everyday2.EDD_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_OwnerA</name>
        <label>Update Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_from_QRMCA_GroupA.USER__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_OwnerB</name>
        <label>Update Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Last_AssignmentB</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_from_QRMCA_GroupB.USER__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_13</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recent_Duplicate_Leads.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuickNotes__c</field>
            <value>
                <elementReference>$Record.QuickNotes__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_QRMCA_RR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_assigned_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>QRMCA_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_22</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_QRMCA_RR_EDATA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_assigned_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>QRMCA_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEDDAssignment</name>
        <label>Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_from_EDD_ZAP_Everyday.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Assignment_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EDD_Round_Robin__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Master_Switch</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>zakID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005fK000001mIJqQAM</stringValue>
        </value>
    </variables>
</Flow>
