force-app/main/default/flows/Opportunity_Contract_signed_SMS_Twilio_Lee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Send_to_owner</name>
        <label>Send to lee 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Twilio_Number_is_not_working</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <stringValue>7282200055</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>forMessageFBQuiz</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>9542055586</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Send_to_owner</name>
        <label>Send to lee 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Send_to_owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Twilio_Number_is_not_working</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <stringValue>7282200055</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>forMessageFBQuiz</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>9547659125</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_to_owner</name>
        <label>Copy 1 of Send to owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Send_to_owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Twilio_Number_is_not_working</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <stringValue>7282200055</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>forMessageFBQuiz</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>varLeePhonePersonal</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Copy_1_of_Twilio_Number_is_not_working</name>
        <label>Copy 1 of Twilio Number is not working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Twilio Number is not working in Send SMS for Opportunity Contract Signed SMS Twilio Flow</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_2_of_Twilio_Number_is_not_working</name>
        <label>Copy 2 of Twilio Number is not working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Twilio Number is not working in Send SMS for Opportunity Contract Signed SMS Twilio Flow</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Twilio_Number_is_not_working</name>
        <label>Twilio Number is not working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Twilio Number is not working in Send SMS for Opportunity Contract Signed SMS Twilio Flow</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>If_stage</name>
        <label>If stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Signed</label>
        </rules>
        <rules>
            <name>Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Records_1</targetReference>
            </connector>
            <label>Enrolled</label>
        </rules>
    </decisions>
    <description>SFDC Support Troubleshooting</description>
    <environments>Default</environments>
    <formulas>
        <name>forMessageFBQuiz</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!$Record.StageName}, &quot;Contract Signed&quot;),
  &quot;$$$ Contract Signed! $$$&quot; + 
  &quot;&lt;br&gt;&quot; +
  &quot;View details: https://dmpbalance.lightning.force.com/lightning/r/Opportunity/&quot; + {!$Record.Id} + &quot;/view&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Business Name = &apos;&quot; + {!$Record.Name} + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Amount = &apos;$&quot; + TEXT({!$Record.Amount}) + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Lead source = &apos;&quot; + {!$Record.Main_Source__c} + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Sales Office = &apos;&quot; + {!$Record.Sales_Office__c} + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Owner = &apos;&quot; + {!$Record.Owner.FirstName} + &quot; &quot; + {!$Record.Owner.LastName} + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Fronter = &apos;&quot; + {!$Record.Fronter__r.FirstName} + &quot; &quot; + {!$Record.Fronter__r.LastName} + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Closer = &apos;&quot; + {!$Record.Closer__r.FirstName} + &quot; &quot; + {!$Record.Closer__r.LastName} + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; + &quot;Chaser = &apos;&quot; + {!$Record.Chaser__r.FirstName} + &quot; &quot; + {!$Record.Chaser__r.LastName} + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; +
  &quot;Created date = &apos;&quot; +
  RIGHT(&quot;0&quot;&amp;TEXT(MONTH(DATEVALUE({!$Record.Lead_Created_Date_Tiem__c}))),2) &amp; &quot;-&quot; &amp;
  RIGHT(&quot;0&quot;&amp;TEXT(DAY(DATEVALUE({!$Record.Lead_Created_Date_Tiem__c}))),2) &amp; &quot;-&quot; &amp;
  RIGHT(TEXT(YEAR(DATEVALUE({!$Record.Lead_Created_Date_Tiem__c}))),2) + &quot;&apos;&quot; +
  &quot;&lt;br&gt;&quot; +
  &quot;First Draft Date = &apos;&quot; +
  RIGHT(&quot;0&quot;&amp;TEXT(MONTH({!$Record.First_Draft_Date__c})),2) &amp; &quot;-&quot; &amp;
  RIGHT(&quot;0&quot;&amp;TEXT(DAY({!$Record.First_Draft_Date__c})),2) &amp; &quot;-&quot; &amp;
  RIGHT(TEXT(YEAR({!$Record.First_Draft_Date__c})),2) + &quot;&apos;&quot;,

  IF(
    ISPICKVAL({!$Record.StageName}, &quot;Enrolled&quot;),
    &quot;$$$ Customer Enrolled! $$$&quot; + 
    &quot;&lt;br&gt;Customer has been enrolled.&quot; +
    &quot;&lt;br&gt;&quot; +
    &quot;View details: https://dmpbalance.lightning.force.com/lightning/r/Opportunity/&quot; + {!$Record.Id} + &quot;/view&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Business Name = &apos;&quot; + {!$Record.Name} + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Amount = &apos;$&quot; + TEXT({!$Record.Amount}) + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Lead source = &apos;&quot; + {!$Record.Main_Source__c} + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Sales Office = &apos;&quot; + {!$Record.Sales_Office__c} + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Owner = &apos;&quot; + {!$Record.Owner.FirstName} + &quot; &quot; + {!$Record.Owner.LastName} + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Fronter = &apos;&quot; + {!$Record.Fronter__r.FirstName} + &quot; &quot; + {!$Record.Fronter__r.LastName} + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Closer = &apos;&quot; + {!$Record.Closer__r.FirstName} + &quot; &quot; + {!$Record.Closer__r.LastName} + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; + &quot;Chaser = &apos;&quot; + {!$Record.Chaser__r.FirstName} + &quot; &quot; + {!$Record.Chaser__r.LastName} + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; +
    &quot;Created date = &apos;&quot; +
    RIGHT(&quot;0&quot;&amp;TEXT(MONTH(DATEVALUE({!$Record.Lead_Created_Date_Tiem__c}))),2) &amp; &quot;-&quot; &amp;
    RIGHT(&quot;0&quot;&amp;TEXT(DAY(DATEVALUE({!$Record.Lead_Created_Date_Tiem__c}))),2) &amp; &quot;-&quot; &amp;
    RIGHT(TEXT(YEAR(DATEVALUE({!$Record.Lead_Created_Date_Tiem__c}))),2) + &quot;&apos;&quot; +
    &quot;&lt;br&gt;&quot; +
    &quot;First Draft Date = &apos;&quot; +
    RIGHT(&quot;0&quot;&amp;TEXT(MONTH({!$Record.First_Draft_Date__c})),2) &amp; &quot;-&quot; &amp;
    RIGHT(&quot;0&quot;&amp;TEXT(DAY({!$Record.First_Draft_Date__c})),2) &amp; &quot;-&quot; &amp;
    RIGHT(TEXT(YEAR({!$Record.First_Draft_Date__c})),2) + &quot;&apos;&quot;,

    &quot;&quot;
  )
)</expression>
    </formulas>
    <interviewLabel>Opportunity Contract signed SMS Twilio Lee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contract signed SMS Twilio Lee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Records_1</name>
        <label>Send ENrolled SMS check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Send_SMS_Enrolled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Send Sms COntract Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SMS_Sent_Contract_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Send_to_owner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>((1 AND 4) OR (2 AND 3)) AND 5</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_SMS_Enrolled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SMS_Sent_Contract_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Office__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Debt Consultants Group</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeePhonePersonal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5.615697673E9</numberValue>
        </value>
    </variables>
</Flow>
