force-app/main/default/flows/Perfect_Lead_Round_Robin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Users_Exist</name>
        <label>Check Users Exist</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Users Available</defaultConnectorLabel>
        <rules>
            <name>Users_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Counter_Record</targetReference>
            </connector>
            <label>Users Available</label>
        </rules>
    </decisions>
    <description>Error-free round-robin lead assignment using EDD_Round_Robin__c custom object</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentCounterIndex</name>
        <dataType>Number</dataType>
        <expression>IF(
            ISBLANK({!CounterRecord.Current_Index__c}),
            0,
            IF(
                {!CounterRecord.Current_Index__c} &gt;= {!UserCount},
                0,
                {!CounterRecord.Current_Index__c}
            )
        )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewCounterIndex</name>
        <dataType>Number</dataType>
        <expression>MOD({!CurrentCounterIndex} + 1, {!UserCount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <expression>{!ActiveRRUsers[{!CurrentCounterIndex}].Users_in_the_RR__c}</expression>
    </formulas>
    <formulas>
        <name>UserCount</name>
        <dataType>Number</dataType>
        <expression>SIZE({!ActiveRRUsers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Perfect Lead Round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perfect Lead Round Robin</label>
    <loops>
        <name>Round_Robin_Assignment_Loop</name>
        <label>Round Robin Assignment Loop</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>CurrentLead</assignNextValueToReference>
        <collectionReference>$Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Lead_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Counter_Index</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_RR_Users</name>
        <label>Get Active Round Robin Users</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Users_Exist</targetReference>
        </connector>
        <object>Round_Robin__c</object>
        <outputReference>ActiveRRUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Users_in_the_RR__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Counter_Record</name>
        <label>Get Counter Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Round_Robin_Assignment_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Assignment</stringValue>
            </value>
        </filters>
        <object>RR_Counter__c</object>
        <outputReference>CounterRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Index__c</queriedFields>
        <queriedFields>Group_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Counter_Index</name>
        <label>Update Counter Index</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CounterRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Index__c</field>
            <value>
                <elementReference>NewCounterIndex</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Counter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Round_Robin_Assignment_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Round_Robin_Assignment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_RR_Users</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>ActiveRRUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Round_Robin__c</objectType>
    </variables>
    <variables>
        <name>CounterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RR_Counter__c</objectType>
    </variables>
    <variables>
        <name>CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
