force-app/main/default/flows/ReadyToCloseContractSent_EDD_convoso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Ready_to_close_contract_Signed_to_Convoso</name>
        <label>Send Ready to close contract Signed to Convoso</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>ConvosoFlowIntegration</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>first_name</name>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hopper</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hopper_priority</name>
            <value>
                <stringValue>99</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>list_id</name>
            <value>
                <stringValue>8521</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone_number</name>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvosoFlowIntegration</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Sales_Office</name>
        <label>Sales Office</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Everydaydebt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Everyday Debt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Ready_to_close_contract_Signed_to_Convoso</targetReference>
            </connector>
            <label>Everydaydebt and phone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ReadyToCloseContractSent EDD convoso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ReadyToCloseContractSent EDD convoso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved/Ready to close</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Sent</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>After_1_week</name>
            <connector>
                <targetReference>Sales_Office</targetReference>
            </connector>
            <label>After 1 week</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
