force-app/main/default/flows/RepsCommAfterCreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Client_Cancelled</name>
        <label>If Client Cancelled</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Cancelled_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Frozen_Total_Commissions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Frozen</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Cancelled is true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCalcSkippedWeeksAfterCancelled</name>
        <dataType>Number</dataType>
        <expression>{!$Record.of_r__c} - {!$Record.Weeks_Past__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forcalculatedCommission</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Commission_Per_Week__c} * ({!$Record.Weeks_Past__c}- {!$Record.Skipped_Weeks__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RepsCommAfterCreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RepsCommAfterCreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Frozen</name>
        <label>Update Frozen</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Frozen_Total_Commissions__c</field>
            <value>
                <elementReference>varCommissionsCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Client_Cancelled</targetReference>
        </connector>
        <object>Sales_Rep_Commision__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCancSkippedweeks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forCalcSkippedWeeksAfterCancelled</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCommissionsCalculated</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>forcalculatedCommission</elementReference>
        </value>
    </variables>
</Flow>
