force-app/main/default/flows/Round_Robin_Re_blast_Debtifi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Int</name>
        <label>Check Int</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Int_RR_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Assignement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAP RE RR D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mod_value</targetReference>
            </connector>
            <label>If Int = RR D</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mod_value</name>
        <label>Mod value</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mod_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForMod6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Mod = 0</label>
        </rules>
        <rules>
            <name>Mod_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForMod6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lopez</targetReference>
            </connector>
            <label>Mod = 1</label>
        </rules>
        <rules>
            <name>Mod_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForMod6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Justin</targetReference>
            </connector>
            <label>Mod = 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forMod6</name>
        <dataType>Number</dataType>
        <expression>MOD(VALUE($Record.Number__c), 3)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Round Robin Re blast Debtifi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Round Robin Re blast Debtifi</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Justin</name>
        <label>Justin</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001PtOvQAK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lopez</name>
        <label>Lopez</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001HHgbQAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Pineda</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001HHqHQAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Int</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varForMod6</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forMod6</elementReference>
        </value>
    </variables>
</Flow>
