force-app/main/default/flows/Round_Robin_Lead_NY_legal_Scaper_Debtifi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Modcheck</name>
        <label>Mod check</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Mod_NY_legal_Scaper_Debtifi_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForModNYlegalScaperDebtifi6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_to_Pineda</targetReference>
            </connector>
            <label>Check Mod NY legal Scaper Debtifi 0</label>
        </rules>
        <rules>
            <name>Mod_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForModNYlegalScaperDebtifi6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Owner_to_Pineda</targetReference>
            </connector>
            <label>Mod 1</label>
        </rules>
        <rules>
            <name>Mod_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForModNYlegalScaperDebtifi6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Owner_to_Pineda</targetReference>
            </connector>
            <label>Mod =2</label>
        </rules>
        <rules>
            <name>Mod_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForModNYlegalScaperDebtifi6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Owner_to_Pineda</targetReference>
            </connector>
            <label>Mod = 3</label>
        </rules>
        <rules>
            <name>Mod_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForModNYlegalScaperDebtifi6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Owner_to_Pineda</targetReference>
            </connector>
            <label>Mod = 4</label>
        </rules>
        <rules>
            <name>Mod_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varForModNYlegalScaperDebtifi6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Owner_to_Pineda</targetReference>
            </connector>
            <label>Mod = 5</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forNYlegalScaperDebtifiIncre</name>
        <dataType>Number</dataType>
        <expression>{!varRecordNYlegalScaperDebtifiCounter.Value__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forNYlegalScaperDebtifiIncreCountIncr</name>
        <dataType>Number</dataType>
        <expression>{!varRecordNYlegalScaperDebtifiCounter.Value__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>mod</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.RR_NY_legal_Scaper_Debtifi__c},2)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Round Robin Lead NY legal Scaper Debtifi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Round Robin Lead NY legal Scaper Debtifi</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NY_legal_Scaper_Debtifi_Counter</name>
        <label>Get NY legal Scaper Debtifi Counter</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NY legal Scaper Debtifi</stringValue>
            </value>
        </filters>
        <object>Counter__c</object>
        <outputReference>varRecordNYlegalScaperDebtifiCounter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Owner_to_Pineda</name>
        <label>Owner to Justin</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001PtOvQAK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Owner_to_Pineda</name>
        <label>Owner to Lopez</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001HHgbQAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Owner_to_Pineda</name>
        <label>Owner to Samir</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000002AbQ9QAK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Owner_to_Pineda</name>
        <label>Owner to Dani</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000002AguTQAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Owner_to_Pineda</name>
        <label>Copy 5 of Owner to Pineda</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000002AanTQAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_to_Pineda</name>
        <label>Owner to Pineda</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001HHqHQAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <inputAssignments>
            <field>RR_NY_legal_Scaper_Debtifi__c</field>
            <value>
                <elementReference>varForNYlegalScaperDebtifiIncre</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update   NY legal Scaper Debtifi Increase Counter</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Modcheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NY legal Scaper Debtifi</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Value__c</field>
        </inputAssignments>
        <object>Counter__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NY_legal_Scaper_Debtifi_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Assignement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZAP NY Legal Scraper New</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varForModNYlegalScaperDebtifi6</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>mod</elementReference>
        </value>
    </variables>
    <variables>
        <name>varforNYlegalScaperDebtifiCounterINC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forNYlegalScaperDebtifiIncreCountIncr</elementReference>
        </value>
    </variables>
    <variables>
        <name>varForNYlegalScaperDebtifiIncre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forNYlegalScaperDebtifiIncre</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordNYlegalScaperDebtifiCounter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Counter__c</objectType>
    </variables>
</Flow>
