force-app/main/default/flows/RR_EDD_JJ_Legal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Mod_Value</name>
        <label>Check Mod Value</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ModRRMarDebtifi_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Lopez</targetReference>
            </connector>
            <label>If ModRRMarDebtifi is 0</label>
        </rules>
        <rules>
            <name>If_ModRRMarDebtifi_is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Pineda</targetReference>
            </connector>
            <label>If ModRRMarDebtifi is 1</label>
        </rules>
        <rules>
            <name>If_ModRRMarDebtifi_is_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Justin</targetReference>
            </connector>
            <label>If ModRRMarDebtifi is 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} + (30.0 / 1440)</expression>
    </formulas>
    <formulas>
        <name>forModRRMarDebtifi2</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.RR_EDD_JJ_Legal__c}, 3)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forRRDebtifiIncre</name>
        <dataType>Number</dataType>
        <expression>{!varRecordMarDebtifi.Value__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forSubjectTask</name>
        <dataType>String</dataType>
        <expression>&quot;⚖️🚨 New Legals from JJ Legals 🚨⚖️ – &quot; &amp; {!$Record.Phone}</expression>
    </formulas>
    <interviewLabel>RR EDD JJ Legal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RR EDD JJ Legal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Task_creation</name>
        <label>Copy 1 of Task creation</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forSubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Task_creation</name>
        <label>Copy 2 of Task creation</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forSubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_creation</name>
        <label>Task creation</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forSubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Mark_Debtifi_Rec</name>
        <label>Get Mark Debtifi Rec</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EDD JJ Legal</stringValue>
            </value>
        </filters>
        <object>Counter__c</object>
        <outputReference>varRecordMarDebtifi</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_Lopez</name>
        <label>Assign to Roland</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Task_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001oacPQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Pineda</name>
        <label>Assign to Anthony</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Task_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001ON1JQAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>To_Justin</name>
        <label>To Albert</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Task_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001oacQQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Counter_Value_RRMDebtifi</name>
        <label>Update Counter Value RRMDebtifi</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Mod_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EDD JJ Legal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>varForRRDebtifiIncre</elementReference>
            </value>
        </inputAssignments>
        <object>Counter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update RR Mark Debtifi Value</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Counter_Value_RRMDebtifi</targetReference>
        </connector>
        <inputAssignments>
            <field>RR_EDD_JJ_Legal__c</field>
            <value>
                <elementReference>varForRRDebtifiIncre</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mark_Debtifi_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Assignement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coeff DV Legal</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forEndDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varforMODRRMArDebtifi2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forModRRMarDebtifi2</elementReference>
        </value>
    </variables>
    <variables>
        <name>varForRRDebtifiIncre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forRRDebtifiIncre</elementReference>
        </value>
    </variables>
    <variables>
        <name>varForTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forSubjectTask</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordMarDebtifi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Counter__c</objectType>
    </variables>
</Flow>
