force-app/main/default/flows/RR_EData_QRMCA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Mod_Value</name>
        <label>Check Mod Value</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ModRRMarDebtifi_is_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Justin</targetReference>
            </connector>
            <label>If ModRRMarDebtifi is 2</label>
        </rules>
        <rules>
            <name>Pineda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pineda2</targetReference>
            </connector>
            <label>Pineda</label>
        </rules>
        <rules>
            <name>Lopez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_pineda</targetReference>
            </connector>
            <label>Lopez</label>
        </rules>
        <rules>
            <name>Sean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seant</targetReference>
            </connector>
            <label>Sean</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} + (30.0 / 1440)</expression>
    </formulas>
    <formulas>
        <name>forModRRMarDebtifi2</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.RR_EData_QRMCA__c}, 4)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forRRDebtifiIncre</name>
        <dataType>Number</dataType>
        <expression>{!varRecordMarDebtifi.Value__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forSubjectTask</name>
        <dataType>String</dataType>
        <expression>&quot;🍒🍒 &quot; &amp; {!$Record.Phone} &amp; &quot; 🍒🍒 New Lead 🍒🍒 From Cherry Text Message&quot;</expression>
    </formulas>
    <interviewLabel>RR EData QRMCA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RR EData QRMCA Round Robin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Cop</name>
        <label>Copy 1 of Copy 1 of opy 1 of Copy 1 of Copy</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varForTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Create_Task</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Create Task</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varForTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Create_Task</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Create Task</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varForTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Create_Task</name>
        <label>Copy 1 of Copy 1 of Create Task</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varForTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Mark_Debtifi_Rec</name>
        <label>Get Mark Debtifi Rec</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EData QRMCA</stringValue>
            </value>
        </filters>
        <object>Counter__c</object>
        <outputReference>varRecordMarDebtifi</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_pineda</name>
        <label>Lopez</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001HHgbQAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>pineda2</name>
        <label>pineda</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001HHqHQAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Seant</name>
        <label>Sean</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Cop</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000002o4AXQAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>To_Justin</name>
        <label>To Stuart</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK00000240RhQAI</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Counter_Value_RRMDebtifi</name>
        <label>Update Counter Value RRMDebtifi</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Mod_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EData QRMCA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>varForRRDebtifiIncre</elementReference>
            </value>
        </inputAssignments>
        <object>Counter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update RR Mark Debtifi Value</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Counter_Value_RRMDebtifi</targetReference>
        </connector>
        <inputAssignments>
            <field>RR_EData_QRMCA__c</field>
            <value>
                <elementReference>varForRRDebtifiIncre</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mark_Debtifi_Rec</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Integration_Assignement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EData QRMCA</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forEndDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varforMODRRMArDebtifi2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forModRRMarDebtifi2</elementReference>
        </value>
    </variables>
    <variables>
        <name>varForRRDebtifiIncre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forRRDebtifiIncre</elementReference>
        </value>
    </variables>
    <variables>
        <name>varForTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forSubjectTask</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordMarDebtifi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Counter__c</objectType>
    </variables>
</Flow>
