force-app/main/default/flows/RR_EDD_Cherry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>AlbertID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001oacQQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>Angie</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000002J8VOQA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>Cheryl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000DcQBhIAN</stringValue>
        </value>
    </constants>
    <constants>
        <name>conMarquel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000DiNxV</stringValue>
        </value>
    </constants>
    <constants>
        <name>DenishaLouis</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000DKQZxIAP</stringValue>
        </value>
    </constants>
    <constants>
        <name>Eugene</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000002jqsXQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>Juliette</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000DRXGXIA5</stringValue>
        </value>
    </constants>
    <constants>
        <name>Lahsaan</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000DcKuIIAV</stringValue>
        </value>
    </constants>
    <constants>
        <name>Marquel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000DiNxVIAV</stringValue>
        </value>
    </constants>
    <constants>
        <name>Nydrah</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Pe00000DRXmnIAH</stringValue>
        </value>
    </constants>
    <constants>
        <name>Roland</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001oacPQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>varJeffery</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001dFOPQA2</stringValue>
        </value>
    </constants>
    <constants>
        <name>varJunko</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005fK000001OMy5QAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Mod_Value</name>
        <label>Check Mod Value</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Asukwo</targetReference>
            </connector>
            <label>roland</label>
        </rules>
        <rules>
            <name>Juliette3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Marquel</targetReference>
            </connector>
            <label>Juliette</label>
        </rules>
        <rules>
            <name>Nydrah3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Marquel</targetReference>
            </connector>
            <label>Nydrah</label>
        </rules>
        <rules>
            <name>Mortigan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varforMODRRMArDebtifi2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_junko</targetReference>
            </connector>
            <label>Marquell</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} + (30.0 / 1440)</expression>
    </formulas>
    <formulas>
        <name>forModRRMarDebtifi2</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.RR_EDD_JJ_Legal__c}, 4)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forRRDebtifiIncre</name>
        <dataType>Number</dataType>
        <expression>{!varRecordMarDebtifi.Value__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forSubjectTask</name>
        <dataType>String</dataType>
        <expression>&quot; 🍒🍒  New Legals from Cherry 🍒🍒 – &quot; &amp; {!$Record.Phone}</expression>
    </formulas>
    <interviewLabel>RR EDD Cherry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RR EDD Cherry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Copy_1_of_Co5</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Copy 2</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forSubjectTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Mark_Debtifi_Rec</name>
        <label>Get Mark Debtifi Rec</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EDD JJ Legal</stringValue>
            </value>
        </filters>
        <object>Counter__c</object>
        <outputReference>varRecordMarDebtifi</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Asukwo</name>
        <label>Jeff</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Co5</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varJeffery</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Marquel</name>
        <label>Julietta</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Co5</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Juliette</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_junko</name>
        <label>Marquel</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Co5</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Marquel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Marquel</name>
        <label>junko</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Co5</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varJunko</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Counter_Value_RRMDebtifi</name>
        <label>Update Counter Value RRMDebtifi</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Mod_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR EDD JJ Legal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>varForRRDebtifiIncre</elementReference>
            </value>
        </inputAssignments>
        <object>Counter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update RR Mark Debtifi Value</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Counter_Value_RRMDebtifi</targetReference>
        </connector>
        <inputAssignments>
            <field>RR_EDD_JJ_Legal__c</field>
            <value>
                <elementReference>varForRRDebtifiIncre</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mark_Debtifi_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Assignement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZAP Everyday</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAnthony</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>005fK000001ON1JQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>varEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forEndDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varforMODRRMArDebtifi2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forModRRMarDebtifi2</elementReference>
        </value>
    </variables>
    <variables>
        <name>varForRRDebtifiIncre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forRRDebtifiIncre</elementReference>
        </value>
    </variables>
    <variables>
        <name>varForTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>forSubjectTask</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordMarDebtifi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Counter__c</objectType>
    </variables>
</Flow>
