force-app/main/default/flows/RR_Marketing_DC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckModvalue</name>
        <label>Check Mod value</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mod_of_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModRRDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alex_Pudryj</targetReference>
            </connector>
            <label>Mod of 1</label>
        </rules>
        <rules>
            <name>Mod_of_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModRRDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adrian_Alleyne</targetReference>
            </connector>
            <label>Mod of 2</label>
        </rules>
        <rules>
            <name>Mod_of_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModRRDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Angel_Santiago</targetReference>
            </connector>
            <label>Mod of 4</label>
        </rules>
        <rules>
            <name>mod_of_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModRRDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Christopher_Del</targetReference>
            </connector>
            <label>mod of 5</label>
        </rules>
        <rules>
            <name>X8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModRRDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jarrett_McLucas</targetReference>
            </connector>
            <label>8</label>
        </rules>
        <rules>
            <name>X10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModRRDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Juan_Molina</targetReference>
            </connector>
            <label>10</label>
        </rules>
        <rules>
            <name>X12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varModRRDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Frank_Spaulding_Bey</targetReference>
            </connector>
            <label>12</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forLedaRRincrement</name>
        <dataType>Number</dataType>
        <expression>{!varRecordMarDC.Value__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forModRRmarketing33</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.RR_Marketing_Lead_DC_Counter__c}, 7)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NotificationDC</name>
        <dataType>String</dataType>
        <expression>&quot;📝🚨🌐 New Lead from Online Form 🌐🚨📝 – &quot; &amp; {!$Record.Phone}</expression>
    </formulas>
    <interviewLabel>RR Marketing DC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RR Marketing DC + Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contact_Task</name>
        <label>Contact Task</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NotificationDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Contact_Task</name>
        <label>Copy 1 of Contact Task</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NotificationDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Contact_Task</name>
        <label>Copy 2 of Contact Task</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NotificationDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Contact_Task</name>
        <label>Copy 3 of Contact Task</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NotificationDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Contact_Task</name>
        <label>Copy 5 of Contact Task</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NotificationDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_6_of_Contact_Task</name>
        <label>Copy 6 of Contact Task</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NotificationDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_7_of_Contact_Task</name>
        <label>Copy 7 of Contact Task</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NotificationDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Marketing_DC_RR_Counter</name>
        <label>get Marketing DC RR Counter</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RR_Mark_DC_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR Marketing Lead DC Counter</stringValue>
            </value>
        </filters>
        <object>Counter__c</object>
        <outputReference>varRecordMarDC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Adrian_Alleyne</name>
        <label>Adrian Alleyne</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Contact_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001xWbBQAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Alex_Pudryj</name>
        <label>Alex Pudryj</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Contact_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001xWMhQAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Angel_Santiago</name>
        <label>Angel Santiago</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Contact_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001xXCHQA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Christopher_Del</name>
        <label>Christopher Del</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_3_of_Contact_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001xXFVQA2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_12_of_Frank_Spaulding_Bey</name>
        <label>Matthew Steinbach</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_7_of_Contact_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001xY8MQAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Jarrett_McLucas</name>
        <label>Jarrett McLucas</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_5_of_Contact_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001xXtpQAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Juan_Molina</name>
        <label>Juan Molina</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_6_of_Contact_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005fK000001xXx3QAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_counter_RR_DC</name>
        <label>Update counter RR DC</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>CheckModvalue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR Marketing Lead DC Counter</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>varforLeadRRincrement</elementReference>
            </value>
        </inputAssignments>
        <object>Counter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RR_Mark_DC_Value</name>
        <label>Update RR Mark DC Value</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_counter_RR_DC</targetReference>
        </connector>
        <inputAssignments>
            <field>RR_Marketing_Lead_DC_Counter__c</field>
            <value>
                <elementReference>varforLeadRRincrement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Marketing_DC_RR_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Integration_Assignement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZAP Marketing DC</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varforLeadRRincrement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forLedaRRincrement</elementReference>
        </value>
    </variables>
    <variables>
        <name>varModRRDc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>forModRRmarketing33</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRecordMarDC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Counter__c</objectType>
    </variables>
</Flow>
