force-app/main/default/flows/Send_Twilio_SMS_on_Contact_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_lee</name>
        <label>Send to owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Lead_SMS_Status_to_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Lead</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
            <value>
                <stringValue>2016033508</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>PersonalizeSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CustomSettings</name>
        <label>Custom Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Activate_Automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Automation_Settings__c.Activate_Automations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization</targetReference>
            </connector>
            <label>Check Activate Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_phone_not_empty</name>
        <label>if phone not empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organization_Type</name>
        <label>Organization Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Sandbox</defaultConnectorLabel>
        <rules>
            <name>Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_phone_not_empty</targetReference>
            </connector>
            <label>Production</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forMessageFBQuiz</name>
        <dataType>String</dataType>
        <expression>&quot;New &quot; + 
{!$Record.Main_Source__c} + 
&quot; lead is created :- Link to salesforce  &quot; + 
&quot; https://dmpbalance.lightning.force.com/lightning/r/Lead/&quot; + 
{!$Record.Id} + 
&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>PersonalizeSMS</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  SUBSTITUTE(
    SUBSTITUTE(
      {!Get_SMS.SMS__c},
      &quot;{{first_name}}&quot;,
      $Record.FirstName
    ),
    &quot;{{lead_id}}&quot;,
    $Record.Id
  ),
  &quot;{{Business Name}}&quot;,
  $Record.Company
)</expression>
    </formulas>
    <interviewLabel>Send Twilio SMS on Contact Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Twilio SMS on Contact Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Organization</name>
        <label>Get Organization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Organization_Type</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS</name>
        <label>Get SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_to_lee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SMS_Message_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SMS_Message_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SMS_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_SMS_Status_to_Sent</name>
        <label>Update Lead SMS Status to Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Personalized_SMS_Message__c</field>
            <value>
                <elementReference>PersonalizeSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CustomSettings</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SMS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>SMS_Message_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFMC_Sync_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>varLeePhonePersonal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5.615697673E9</numberValue>
        </value>
    </variables>
</Flow>
