force-app/main/default/flows/Send_Lead_to_Zapier_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_Zapier_Webhook</name>
        <label>Send to Zapier Webhook</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>HTTPCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>WebhookRequests</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HTTPCalloutInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Webhook_Request</name>
        <label>Build Webhook Request</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>LeadDataJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;leadId&quot;: &quot;{!$Record.Id}&quot;, &quot;firstName&quot;: &quot;{!$Record.FirstName}&quot;, &quot;lastName&quot;: &quot;{!$Record.LastName}&quot;, &quot;email&quot;: &quot;{!$Record.Email}&quot;, &quot;phone&quot;: &quot;{!$Record.Phone}&quot;, &quot;mobile&quot;: &quot;{!$Record.MobilePhone}&quot;, &quot;company&quot;: &quot;{!$Record.Company}&quot;, &quot;status&quot;: &quot;{!$Record.Status}&quot;, &quot;leadSource&quot;: &quot;{!$Record.LeadSource}&quot;, &quot;preDealStatus&quot;: &quot;{!$Record.Pre_Deal_Status__c}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WebhookRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://hooks.zapier.com/hooks/catch/20581543/2xzarq0/||POST||application/json||120000||{!LeadDataJSON}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WebhookRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WebhookRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Zapier_Webhook</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Response</name>
        <label>Check Webhook Response</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Log_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_to_Zapier_Webhook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Complete Flow that sends Lead data to Zapier webhook when Pre Deal Status is updated to Invalid</description>
    <interviewLabel>Send Lead to Zapier Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Lead to Zapier Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Log_Error</name>
        <label>Log Webhook Error</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Zapier webhook failed on {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Log_Success</name>
        <label>Log Webhook Success</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Zapier webhook sent successfully with Lead data on {!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Webhook_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pre_Deal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>LeadDataJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WebhookRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WebhookRequests</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
