force-app/main/default/flows/Testing_ZAP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Test_Zap</name>
        <label>Copy 1 of Test Zap</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HTTPCalloutInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentType</name>
            <value>
                <stringValue>application/json</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://services.leadconnectorhq.com/hooks/zRrh6ubDZuzItdxVimgc/webhook-trigger/zsBcIgT3PfcP63CZQBMv</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>httpMethod</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>varLeadData</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HTTPCalloutInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Elements</name>
        <label>Send Elements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LeadWebhookHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Test_Zap</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>company</name>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobile</name>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preDealStatus</name>
            <value>
                <elementReference>$Record.Pre_Deal_Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadWebhookHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varLeadData</assignToReference>
            <name>jsonPayload</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Everyday Debt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Elements</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Everyday Debt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Testing ZAP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLow to check Wittzy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Past_Ownera__c</field>
            <value>
                <stringValue>W</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Pre_Deal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INVALID</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pre_Deal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DNC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pre_Deal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOT INTERESTED</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Decision_1</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
