force-app/main/default/flows/Updated_User_Training_Assigned_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Training_Email</name>
        <label>Send_Training_Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Updated_to_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@dcgpro.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Training Case Assigned 📝</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hi {!$Record.FirstName} 👋&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your training case is ready. Please watch all 6 videos and take the quizzes. 🎥📝&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;👉 &lt;strong&gt;Open Training Case &lt;/strong&gt;&lt;a href=&quot;https://dmpbalance.lightning.force.com/lightning/r/Case/%7B!Create_Training_Case%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;Training Modules&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Training Team&amp;nbsp;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_fields_are_changing</name>
        <label>Check if fields are changing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_s_changing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update</targetReference>
            </connector>
            <label>Yes it&apos;s changing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Is_true</name>
        <label>Check Update Is true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkbox_Updated</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Updated User - Training Assigned Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updated User - Training Assigned Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Training_Case</name>
        <label>Create Training Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X1_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Auto-assigned training case for new rep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sales Training - {!$Record.FirstName} {!$Record.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Stage__c</field>
            <value>
                <stringValue>Module 1</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X1_Module</name>
        <label>1 Module</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X2_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Training_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Answer__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_A__c</field>
            <value>
                <stringValue>To keep your pipeline organized</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_B__c</field>
            <value>
                <stringValue>To waste time, instead of calling clients</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_C__c</field>
            <value>
                <stringValue>To ensure proper future follow-ups</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_D__c</field>
            <value>
                <stringValue>Both A and C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiz_Question__c</field>
            <value>
                <stringValue>What is the importance of updating the leads?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_URL__c</field>
            <value>
                <stringValue>https://simplehome360com-my.sharepoint.com/:v:/g/personal/giselle_dcgpro_com/EQdAYqbA4TtPvpNdoz2iyM0BgbZ14-z8JPZBcbxz5vfMFQ</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X2_Module</name>
        <label>2 Module</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X3_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Training_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Answer__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_A__c</field>
            <value>
                <stringValue>Business name and email address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_B__c</field>
            <value>
                <stringValue>Business Company Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_C__c</field>
            <value>
                <stringValue>Pre Deal Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_D__c</field>
            <value>
                <stringValue>All the above</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiz_Question__c</field>
            <value>
                <stringValue>What are some fields that should be filled out in the lead to ensure proper contact?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_URL__c</field>
            <value>
                <stringValue>https://simplehome360com-my.sharepoint.com/:v:/g/personal/giselle_dcgpro_com/EZvYGoJ3sMtNvYDcJmLOhFsBGP--_cFOsdYf-_gVkCnOkw</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X3_Module</name>
        <label>3 Module</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X4_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Training_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Answer__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_A__c</field>
            <value>
                <stringValue>It isn’t necessary for the Fronter to do, and should be left for the Underwriter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_B__c</field>
            <value>
                <stringValue>To properly move the deal through your Sales Pipeline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_C__c</field>
            <value>
                <stringValue>To ensure that the deal is updated accordingly and shows up on the closed deal reports</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_D__c</field>
            <value>
                <stringValue>Both B and C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiz_Question__c</field>
            <value>
                <stringValue>What is the purpose of converting the lead to an Opportunity?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_URL__c</field>
            <value>
                <stringValue>https://simplehome360com-my.sharepoint.com/:v:/g/personal/giselle_dcgpro_com/ERece-kUBYZPhBXuTHZ5mzsBTDyVLb_CyjRK191-9wvXTw</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X4_Module</name>
        <label>4 Module</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X5_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Training_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Answer__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_A__c</field>
            <value>
                <stringValue>To clutter the file, making it less legible </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_B__c</field>
            <value>
                <stringValue>To ensure everything is updated and to remind yourself when you come back to the lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_C__c</field>
            <value>
                <stringValue>To ensure that other people can read the file</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_D__c</field>
            <value>
                <stringValue>All of the above</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiz_Question__c</field>
            <value>
                <stringValue>What is the main purpose of creating notes in the lead or opportunity?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_URL__c</field>
            <value>
                <stringValue>https://simplehome360com-my.sharepoint.com/:v:/g/personal/giselle_dcgpro_com/EXcvGcAJyVBHsKfqOi5vMy4BhyjI7f2zh-cjMGNl0NYgIg?e=m0hGew</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X5_Module</name>
        <label>5 Module</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X6_Module</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Training_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Answer__c</field>
            <value>
                <stringValue>B</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_A__c</field>
            <value>
                <stringValue>New Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_B__c</field>
            <value>
                <stringValue>Log a Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_C__c</field>
            <value>
                <stringValue>New Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_D__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiz_Question__c</field>
            <value>
                <stringValue>Which Salesforce activity type should you use to record an interaction with a client by phone?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_URL__c</field>
            <value>
                <stringValue>https://simplehome360com-my.sharepoint.com/:v:/g/personal/giselle_dcgpro_com/EeQhvtskoPVOnPfqTEC41gEBxgXqEVcS0My3PGCF5FC9FA?e=dqS7xY</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X6_Module</name>
        <label>6 Module</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Training_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Training_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Answer__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_A__c</field>
            <value>
                <stringValue>Calendar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_B__c</field>
            <value>
                <stringValue>CIQ tab</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_C__c</field>
            <value>
                <stringValue>Log a Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_D__c</field>
            <value>
                <stringValue>Reports</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiz_Question__c</field>
            <value>
                <stringValue>Which Salesforce feature would you use to review your upcoming meetings?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_URL__c</field>
            <value>
                <stringValue>https://simplehome360com-my.sharepoint.com/:v:/g/personal/giselle_dcgpro_com/EZDUZnUtkZ5Lqy4cAcd3ML4BrAK_BEdUQK1Ll_VcwtIcFQ?e=Akehde</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Training_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Checkbox_Updated</name>
        <label>Checkbox Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update</name>
        <label>update Updated Filed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Updated_to_False</name>
        <label>Update Updated to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_fields_are_changing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00efK000000mtwfQAA</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>last_modified_date_schedule</name>
            <connector>
                <targetReference>Check_Update_Is_true</targetReference>
            </connector>
            <label>last modified date schedule</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTrainingAssigned</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi 👋&lt;/p&gt;&lt;p&gt;Your training case is ready. Please watch all 6 videos and take the quizzes. 🎥📝&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;👉 Click &lt;a href=&quot;https://dmpbalance.lightning.force.com/lightning/r/Case/%7B!Create_Training_Case%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255);&quot;&gt;Here&lt;/a&gt; to open your Training Case !&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Training Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TrainingCaseAssigned</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.FirstName} 👋&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your training case is ready. Please watch all 6 videos and take the quizzes. 🎥📝&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;👉 &lt;strong&gt;Open Training Case &lt;/strong&gt;&lt;a href=&quot;https://dmpbalance.lightning.force.com/lightning/r/Case/%7B!Create_Training_Case%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;Training Modules&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Training Team&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
