force-app/main/default/flows/Working_Lead_RR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Counter_Exists</name>
        <label>Check Counter Exists</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_New_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Counter</defaultConnectorLabel>
        <rules>
            <name>Counter_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Counter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Leads_Loop</targetReference>
            </connector>
            <label>Counter Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Users_Found</name>
        <label>Check If Users Found</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Fallback_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Users</defaultConnectorLabel>
        <rules>
            <name>Users_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_UserCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RR_Counter</targetReference>
            </connector>
            <label>Users Found</label>
        </rules>
    </decisions>
    <description>Working round-robin lead assignment with correct XML structure</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_CurrentIndex</name>
        <dataType>Number</dataType>
        <expression>IF(
            ISBLANK({!var_Counter.Current_Index__c}),
            0,
            IF(
                {!var_Counter.Current_Index__c} &gt;= {!formula_UserCount},
                0,
                {!var_Counter.Current_Index__c}
            )
        )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_NextIndex</name>
        <dataType>Number</dataType>
        <expression>MOD({!formula_CurrentIndex} + 1, {!formula_UserCount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_SelectedUser</name>
        <dataType>String</dataType>
        <expression>{!var_RRUsers[{!formula_CurrentIndex}].Users_in_the_RR__c}</expression>
    </formulas>
    <formulas>
        <name>formula_UserCount</name>
        <dataType>Number</dataType>
        <expression>SIZE({!var_RRUsers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Working Lead RR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Working Lead RR</label>
    <loops>
        <name>Fallback_Assignment</name>
        <label>Fallback Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>var_CurrentLead</assignNextValueToReference>
        <collectionReference>$Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Lead_Fallback</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Process_Leads_Loop</name>
        <label>Process Leads Loop</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>var_CurrentLead</assignNextValueToReference>
        <collectionReference>$Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Lead_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Counter_Index</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Counter</name>
        <label>Create New Counter</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_New_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Index__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name__c</field>
            <value>
                <stringValue>Lead_Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Lead Assignment Counter</stringValue>
            </value>
        </inputAssignments>
        <object>RR_Counter__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Counter</name>
        <label>Get New Counter</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Leads_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Assignment</stringValue>
            </value>
        </filters>
        <object>RR_Counter__c</object>
        <outputReference>var_Counter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Index__c</queriedFields>
        <queriedFields>Group_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RR_Counter</name>
        <label>Get Round Robin Counter</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Counter_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Assignment</stringValue>
            </value>
        </filters>
        <object>RR_Counter__c</object>
        <outputReference>var_Counter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Index__c</queriedFields>
        <queriedFields>Group_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RR_Users</name>
        <label>Get Round Robin Users</label>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Users_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Round_Robin__c</object>
        <outputReference>var_RRUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Users_in_the_RR__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Counter_Index</name>
        <label>Update Counter Index</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Counter.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Index__c</field>
            <value>
                <elementReference>formula_NextIndex</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Counter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Assignment</name>
        <label>Update Lead Assignment</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Process_Leads_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CurrentLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_SelectedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Round_Robin_Assignment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Fallback</name>
        <label>Update Lead Fallback</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Fallback_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CurrentLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assignment_Notes__c</field>
            <value>
                <stringValue>Fallback assignment - no active round-robin users</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RR_Users</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>var_Counter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RR_Counter__c</objectType>
    </variables>
    <variables>
        <name>var_CurrentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_RRUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Round_Robin__c</objectType>
    </variables>
</Flow>
